img{

	height: 400px;
}

#testPanel {

	height:400px;
}

#communityChat {

	height:400px;
}

#welcome{

	position:relative;
	top: 390px;
	left:-40px;

}

#chat{
	height:200px;
	overflow: scroll;
}

#possibleAnswers {

	height: 250px;
}

#body{

	background-color:#CCFFCC;
}
#nav{

	background-color: #0099CC;
}

#topPanel{
	height:100px;
}
#topText{
	position:relative;
	top:9px;
}